# PyTorch con CUDA 12.8
--index-url https://download.pytorch.org/whl/cu128
torch~=2.7.0+cu128
torchvision
torchaudio~=2.7.0

# Librerie fondamentali per data science e ML
numpy~=2.2.5
pandas
scikit-learn
matplotlib
seaborn
jupyter

# Librerie per deep learning e NLP
datasets

# Utility
tqdm

soundfile~=0.13.1
pydub~=0.25.1